Package: autopsy4
Priority: optional
Section: forensic
Version: 4.0
Architecture: amd64
Maintainer: Mathias Vetsch <mvetsch@hsr.ch>
Depends: cmake, libmbedtls-dev, libfuse-dev
Description: Autopsy Forensic Platform

