[submodule "sleuthkit"]
	path = sleuthkit
	url = git@github.com:mvetsch/sleuthkit
[submodule "Autopsy"]
	path = Autopsy
	url = git@github.com:mvetsch/Autopsy
[submodule "modules/Autopsy-AuthentiCodeVerification"]
	path = modules/Autopsy-AuthentiCodeVerification
	url = git@github.com:mvetsch/Autopsy-AuthentiCodeVerification
[submodule "modules/VirusTotalOnlineChecker"]
	path = modules/VirusTotalOnlineChecker
	url = git@github.com:mvetsch/VirusTotalOnlineChecker
[submodule "Autopsy-AuthentiCodeVerification"]
	path = Autopsy-AuthentiCodeVerification
	url = git@github.com:mvetsch/Autopsy-AuthentiCodeVerification
[submodule "dislocker"]
	path = dislocker
	url = git@github.com:Aorimn/dislocker
